#__next .signup {
  font-size: 16px !important;

  .ui.header {
    font-family: freightproblack;
    font-size: 32px;
  }

  .dropdown {
    padding-top: 18px !important;
  }

  .sub.header {
    font-family: sofiapromedium !important;
  }

  .signup-form {
    padding: 5px 25px !important;
  }

  .signup-form--input{
    margin: 10px 0px !important;
    margin-bottom: 30px !important;
  }

  .signup-form--checkbox {
    padding-top: 3px !important;
    margin-right: 10px !important;

    span {
      margin: 2em 0em !important;
    }

  }

  .signup-form--select {
    height: 53px !important;
    border-radius: 0px !important;
    border-color: #C4CDD5 !important;
    white-space: nowrap !important;
    text-overflow: ellipsis !important;
    // overflow: hidden !important;
    // padding-top: 18px !important
  }

  .forgotPassword {
    font-family: sofiaprosemibold !important;
    color: #e84671;
    font-size: 16px;
    margin-top: 10px !important;
    margin-bottom: 20px !important;
    text-align: right !important;
    display: block !important;
  }

  .column {
    background: white !important;
    padding: 45px 20px !important;
    margin-top: 2% !important;
    padding-bottom: 25px !important;
  }

  .button {
    height: 60px !important;
    width: 126px !important;
    margin-bottom: 8px;
  }

}

@media only screen and (max-width: 480px) {

  #__next #signup {
    padding-top: 50px;
    .column {
      width: 100% !important
    }

    form{
      padding: 5px 0px !important;
    }
  }


}

@media only screen and (min-width: 1440px) {
  #__next #signup {
    padding-top: 50px;
    .column {
        width: 40% !important;
    }
  }
}
