// FONTS

@font-face {
        font-family: sofiaproblack;
        src: url(/static/fonts/sofiapro/Sofia\ Pro\ Black.ttf);
}

@font-face {
        font-family: sofiaproblackitalic;
        src: url(/static/fonts/sofiapro/Sofia\ Pro\ Black\ Italic.ttf);
}

@font-face {
        font-family: sofiaproregular;
        src: url(/static/fonts/sofiapro/Sofia\ Pro\ Regular.ttf);
}

@font-face {
        font-family: sofiapromedium;
        src: url(/static/fonts/sofiapro/Sofia\ Pro\ Medium.ttf);
}

@font-face {
        font-family: sofiaprosemibold;
        src: url(/static/fonts/sofiapro/Sofia\ Pro\ SemiBold.ttf);
}

@font-face {
        font-family: fontfreightproblack;
        src: url(/static/fonts/Freight\ Big\ Pro/Freight\ Big\ Pro\ Black.otf);
}


// UTILITIES

.is-v-centered {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
}

.is-flex {
        display: flex !important
}



// GENERAL STYLING OVERRIDES.
p{
        margin: 2em 0em !important;
}


 .text{
    color:    #637381 !important
}

// SIGN UP PAGE
.signupForm {
        font-size: 16px !important;
        .dropdown {
                padding-top: 18px !important;
        }

        .ui.header {
                font-family: freightproblack !important;
                font-size: 32px !important;
        }

        .sub.header {
                font-family: sofiapromedium !important;
        }

}

// LOG IN PAGE
.loginForm {
        font-size: 16px !important;

        .ui.header {
                font-family: freightproblack !important;
                font-size: 32px !important;
        }

        .sub.header {
                font-family: sofiapromedium !important;
        }

        .forgotPassword {
                font-family: sofiaprosemibold !important;
                color: #e84671;
                font-size: 16px;
                margin-top: 10px !important;
                margin-bottom: 20px !important;
                text-align: right !important;
                display: block !important;
        }

}


// FORGOT PASSWORD PAGE
.forgotPasswordForm {
        font-size: 16px !important;

        .ui.header {
                font-family: freightproblack !important;
                font-size: 32px !important;
        }

        .sub.header {
                font-family: sofiapromedium !important;
                padding: 0px 40px !important;
        }

}

//  NAVBAR
.navbar {
        a {
                font-family: sofiapromedium;
                font-size: 15px !important;
                // font-weight: 600 !important;
        }
}