
// FONTS

// @import url('../node_modules/font-awesome/css/font-awesome.min.css');

@font-face {
        font-family: sofiaproblack;
        src: url(/static/fonts/sofiapro/Sofia\ Pro\ Black.ttf);
}

@font-face {
        font-family: sofiaproblackitalic;
        src: url(/static/fonts/sofiapro/Sofia\ Pro\ Black\ Italic.ttf);
}

@font-face {
        font-family: sofiaproregular;
        src: url(/static/fonts/sofiapro/Sofia\ Pro\ Regular.ttf);
}

@font-face {
        font-family: sofiapromedium;
        src: url(/static/fonts/sofiapro/Sofia\ Pro\ Medium.ttf);
}

@font-face {
        font-family: sofiapro;
        src: url(/static/fonts/sofiapro/sofiapro-light.otf);
}

@font-face {
        font-family: sofiaprosemibold;
        src: url(/static/fonts/sofiapro/Sofia\ Pro\ SemiBold.ttf);
}

@font-face {
        font-family: fontfreightproblack;
        src: url(/static/fonts/Freight\ Big\ Pro/Freight\ Big\ Pro\ Black.otf);
}


// UTILITIES

.is-v-centered {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
}

.is-flex {
        display: flex !important
}

.mt-0{
        margin-top: 0px !important;
}



// GENERAL STYLING OVERRIDES.
p{
        margin: 2em 0em !important;
}


 .text{
    color:    #637381 !important
}

.footer {
        color: white;
        font-family: freightproblack !important;

        .copyright {
                color: white !important;

                span {
                        font-weight: 100 !important;

                        font-size: 14px !important;
                }

                img {
                        margin-top: 0px !important;
                        height: 18px !important;
                        // marginRight: '0px'
                }

        }

        .social-links {

                margin-left: -12px !important;

                img {
                        height: 18px !important;

                }

                .item {
                        width: 40px;
                        padding: 0px !important;
                        padding-left: 0px !important;
                        margin: 0px !important;
                        margin-left: 0px !important;
                }
        }

        .ui.link.list.list a.item:hover, .ui.link.list.list .item a:not(.ui):hover {
                color: rgba(255, 255, 255, 0.8) !important;
                margin-bottom: 13px !important;
                font-size: 16px;
        }

        .ui.link.list .item, .ui.link.list a.item, .ui.link.list .item a:not(.ui) {
                color: white !important;
                margin-bottom: 13px !important;
                font-size: 16px;
        }

        .header {
                margin-bottom: 27px;
                font-size: 18px;
        }
}

// SIGN UP PAGE
.signupForm {
        font-size: 16px !important;
        .dropdown {
                padding-top: 18px !important;
        }

        .ui.header {
                font-family: freightproblack !important;
                font-size: 32px !important;
        }

        .sub.header {
                font-family: sofiapromedium !important;
        }

}

// LOG IN PAGE
.loginForm {
        font-size: 16px !important;

        .ui.header {
                font-family: freightproblack !important;
                font-size: 32px !important;
        }

        .sub.header {
                font-family: sofiapromedium !important;
        }

        .forgotPassword {
                font-family: sofiaprosemibold !important;
                color: #e84671;
                font-size: 16px;
                margin-top: 10px !important;
                margin-bottom: 20px !important;
                text-align: right !important;
                display: block !important;
        }

}



.termsandconditions, .privacypolicy {
        p {
                font-size: 18px !important;
                font-family: sofiapro !important;
        }
}



// FORGOT PASSWORD PAGE
.forgotPasswordForm {
        font-size: 16px !important;

        .ui.header {
                font-family: freightproblack !important;
                font-size: 32px !important;
        }

        .sub.header {
                font-family: sofiapromedium !important;
                padding: 0px 40px !important;
        }

}

//  NAVBAR
.navbar {
        a {
                font-family: sofiapromedium;
                font-size: 15px !important;
                // font-weight: 600 !important;
        }
}

// input Fields
.providerForm input, .providerForm select {
        padding-left: 35px !important;
        height: 62px !important
}
.providerForm .dropdown.icon {
        margin: 0.214286em !important
}