@font-face {
        font-family: sofiaproblack;
        src: url('/static/fonts/sofiapro/Sofia\ Pro\ Black.ttf');
}

@font-face {
        font-family: sofiaproblackitalic;
        src: url('/static/fonts/sofiapro/Sofia\ Pro\ Black\ Italic.ttf');
}

@font-face {
        font-family: sofiaproregular;
        src: url('/static/fonts/sofiapro/Sofia\ Pro\ Regular.ttf');
}

@font-face {
        font-family: sofiapromedium;
        src: url('/static/fonts/sofiapro/Sofia\ Pro\ Medium.ttf');
}

@font-face {
        font-family: sofiapro;
        src: url('/static/fonts/sofiapro/sofiapro-light.otf');
}

@font-face {
        font-family: sofiaprosemibold;
        src: url('/static/fonts/sofiapro/Sofia\ Pro\ SemiBold.ttf');
}

@font-face {
        font-family: fontfreightproblack;
        src: url('/static/fonts/Freight\ Big\ Pro/FreightBigProBlack.otf');
}

@font-face {
        font-family: fontfreightbigproblack;
        src: url('/static/fonts/Freight\ Big\ Pro/Freight\_Big\_Pro\ Bold.otf');
}

body {
        font-family: sofiaproregular !important;
}
body ::-webkit-scrollbar-track {
        // background: rgba(0, 0, 0, 0.01) !important;
        background: transparent !important;
        border-radius: 10px !important;
        cursor: pointer !important;
}


#__next {

// FONTS


// progressbar 
.ui.progress {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 12345678787787;
}
.ui.progress .bar {
        height: 5px !important;
        margin: 0 !important
}
.ui.progress:first-child {
        margin: 0 !important
}
.ui.pink.progress .bar {
        background-color: #e84671 !important
}
@media screen and (max-width: 767px) {
        .ui.progress .bar {
                height: 7px
        }
        
}


// UTILITIES

.is-v-centered {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
}

.is-lv-centered {
  display: flex;
  justify-content: left;
  align-items: center;
}

.is-h-centered {
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
}

.pr-0{
        padding-right: 0px !important
}

.pr-10{
        padding-right: 10px !important
}

.pl-2{
        padding-left: 2px !important
}

.pr-20{
        padding-right: 20px !important
}

.pl-0{
        padding-left: 0px !important
}

.pb-0{
        padding-bottom: 0px !important
}

.pb-15{
        padding-bottom: 15px !important
}

.pl-10{
        padding-left: 10px !important
}

.pt-3{
        padding-top: 3px !important
}

.pt-10{
        padding-top: 10px !important
}

.pl-20{
        padding-left: 20px !important
}

.has-text-aligned-right {
        text-align: end !important;
}

.is-flex {
        display: flex !important
}

.full {
        height: 100% !important;
        width: 100% !important;
}

.has-full-width{
        width: 100% !important;
}

.has-height-80{
        height: 80% !important;
}

.has-height-10{
        height: 10% !important;
}

.has-width-95{
        width: 95% !important;
}

.has-font-freight {
        font-family: freightproblack !important;
}

.has-font-freightbigpro {
        font-family: fontfreightbigproblack !important;
}

.no-border {
        border: none !important;
}

.no-box-shadow {
        box-shadow: none !important;
}

.has-bg-white {
        background: white !important;
}

.m-0 {
        margin: 0px !important;
}

.mt-0{
        margin-top: 0px !important;
}

.mt-7{
        margin-top: 7px !important;
}

.mb-0{
        margin-bottom: 0px !important;
}

.mt-10 {
        margin: 10px !important;
}

.mt-15 {
        margin: 15px !important;
}

.mt-30 {
        margin-top: 30px !important;
}

.mb-30 {
        margin-bottom: 30px !important;
}

.mb-5 {
        margin-bottom: 5px !important;
}

.mb-10 {
        margin-bottom: 10px !important;
}

.mb-20 {
        margin-bottom: 20px !important;
}

.mr-10 {
        margin-right: 10px !important;
}

.mr-15 {
        margin-right: 15px !important;
}

.mb-70 {
        margin-bottom: 70px !important;
}

.is-grey {
        color: #637381 !important;
}

.is-pink {
        color: #e84671 !important;
}

.is-hidden {
        display: none !important;
}

.fw100{
        font-weight: 100 !important;
}

.fw900{
        font-weight: 900 !important;
}

.fw600{
        font-weight: 600 !important;
        font-family: sofiaproregular !important
}

.h80{
        height: 80px !important;
}

.h40{
        height: 40px !important;
}

.h28{
        height: 28px !important;
}

.h60{
        height: 60px !important;
}

.h720{
        min-height: 720px !important;
}

.h760{
        min-height: 760px !important;
}

.h690{
        min-height: 690px !important;
}

.w126 {
        width: 126px !important;
}

.w215 {
        width: 215px !important;
}

.is-round {
        border-radius: 100% !important;
}

.h30{
        height: 30px !important;
}

.h10{
        height: 10px !important;
}

.p0{
        padding: 0px !important;
}

.p5 {
        padding: 5px !important;
}

.pl-30 {
        padding: 30px !important;
}

.progress-btn,
.completed-btn {
        height: 40px !important;
        width: 160px !important;
        border: none !important;
}

.progress-btn {
        background: rgba(235, 200, 17, 0.05) !important;
        color: #EBC811 !important;
}

.completed-btn {
        background: rgba(38, 189, 35, 0.05) !important;
        color: #26BD23 !important;
}


// GENERAL STYLING OVERRIDES.
.ant-table-thead > tr.ant-table-row-hover:not(.ant-table-expanded-row) > td,
.ant-table-tbody > tr.ant-table-row-hover:not(.ant-table-expanded-row) > td,
.ant-table-thead > tr:hover:not(.ant-table-expanded-row) > td,
.ant-table-tbody > tr:hover:not(.ant-table-expanded-row) > td {
        background: #eeeeee;
}

.card {
        box-shadow: 0px 0px 10px rgba(99, 115, 129, 0.1) ;
}

 .text{
    color:    #637381 !important;
 }
 .ui.dropdown > .text {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    overflow: hidden;
}

.modalContents {
        width: 100%;
        text-align: center !important
}
.dimmed.dimmable > .ui.animating.dimmer, .dimmed.dimmable > .ui.visible.dimmer, .ui.active.dimmer {
        z-index: 10000000 !important;
}


.ui.divided.list > .item {
        border-top: 1px solid rgba(196, 205, 213, 0.25) !important;
}

.ui.basic.buttons .button, .ui.basic.button {
        box-shadow: 0px 0px 0px 1px rgba(196, 205, 213, 0.5) inset !important;
}

.ui.divided.list .list > .item:first-child, .ui.divided.list > .item:first-child {
        border-top: none !important;
}

.ui.sticky {
        z-index: 1000000000000;
}

// loader
.ui.loader:before {
        border: 0.2em solid rgba(174, 41, 41, 0.26) !important
}
.ui.loader:after {
        border-color: #e84671 transparent transparent !important;
}
.ui.active.selection.dropdown {
        z-index: 10000000 !important;
        // overflow-x: hidden
}






// AUTH PAGEs
.auth {
    background: #020202 !important;
    min-height: 100vh !important;
    background-image: url("/static/images/auth.png") !important;
    background-size: cover !important;
}

.logo {
        height: 50px !important;
        cursor: pointer !important
}


.fixed {
        position: fixed !important;
        top: 0 !important;
        // z-index: 10000;
        width: 100% !important;
        box-shadow: 0px 0px 10px rgba(99, 115, 129, 0.1) !important;
}

.ant-calendar-picker-input::placeholder {
        color: rgb(99, 115, 129) !important;
        font-weight: 500;
        font-family: sofiaproregular !important;
        font-size: 16px
}
   
.login-form {
        padding: 5px 25px !important;

        .login-form--input1{
                margin: 10px 0px !important;
                margin-bottom: 30px !important;
        }
        
        .login-form--input2 {
                margin: 10px 0px !important;
        }
        
        .forgotPassword {
                font-family: sofiaprosemibold !important;
                color: #e84671;
                font-size: 16px;
                margin-top: 10px !important;
                margin-bottom: 20px !important;
                text-align: right !important;
                display: block !important;
        }
        
        .column {
                background: white !important;
                padding: 45px 20px !important;
                // marginTop: 135px;
                margin-top: 4% !important;
                padding-bottom: 70px !important;
        }
        
        .button {
                height: 60px !important;
                width: 126px !important;
                margin-bottom: 20px;
        }
}
// @media only screen and (max-width: 767px) {
//         .column {
//                 background: white !important;
//                 padding: 45px 20px !important;
//                 // marginTop: 135px;
//                 margin-top: 10% !important;
//                 padding-bottom: 70px !important;
//         }
// }

.addressBook .mainBtn {
        border-radius: 0px;
        font-size: 14px;
        padding: 15px 30px !important;
        margin: 10px;
        background-color: #212B36 !important;
        font-size: 15px !important;
        font-weight: 400 !important;
        font-family: sofiapromedium !important;
        color: #fff !important;
        border: 1px solid #c4cdd580;
        margin-top: 35px !important;
    }
        
        
              
              
        @media only screen and (max-width: 480px) {
              
                #login {
                  .column {
                    width: 100% !important
                  }
              
                  form{
                    padding: 5px 0px !important;
                  }
                }
              
        }



// @media only screen and (min-width: 1200px){
//         .ui.container {
//                 width: 94%;
//                 margin-left: auto !important;
//                 margin-right: auto !important;
//         }
// }
@media only screen and (min-width: 1440px) {
        .ui.container {
                // width: 1367px !important;
                margin-left: auto !important;
                margin-right: auto !important;
            }
}



/* Mobile */

@media only screen and (max-width: 767px) {
        [class*="mobile hidden"],
        [class*="tablet only"]:not(.mobile),
        [class*="computer only"]:not(.mobile),
        [class*="large monitor only"]:not(.mobile),
        [class*="widescreen monitor only"]:not(.mobile),
        [class*="or lower hidden"] {
                display: none !important;
        }
}



@media only screen and (max-width: 480px) {

        // p {
        //         font-size: 15px !important
        // }

        .auth {
                background: none !important;
        }

        .logo {
                height: 32px !important;
        }

}
}