
.inputWrap {
    .ui.input {
        width: 100% !important;
        // margin-bottom: 20px !important
    }
    .ui.input > input {
        padding-left: 50px !important
    }
    .inputImage { 
        position: relative;
        top: -34px;
        left: 20px;
    }
}