.test {
    background-color: aqua;
    height: 80px
}


.active {
    background-color: #212B36 !important;
    color: #fff
}

.active img {
    filter: brightness(0) invert(1)
}

.inactive img {
    filter: brightness(1) invert(1)
}

ul li:hover {
    cursor: pointer;
    transform: scale(1.01);
    transition: all 0.3s;
    background-color: #f1f1f1
}