#__next {
  .time{
    font-size: 13px;
    min-width: 170px;
  }

  .time-container{
    display: flex;
    min-width: 150px;
    align-items: center

  }

  h4 {
    margin-bottom: 3px;
    min-width: 150px;
    font-size: 16px;
  }
  .secondaryBtn {
    border-radius: 0px;
    font-size: 14px;
    padding: 15px 30px !important;
    margin: 10px;
    background-color: #fff !important;
    font-size: 15px !important;
    font-weight: 400 !important;
    font-family: sofiapromedium !important;
    color: #212B36 !important;
    border: 1px solid #c4cdd580;
  }
}