
.timesWrap {
    // margin-top: -1rem !important;
    width: 100% !important;
    .myRow {
        width: 100% !important;
        margin-bottom: 5px;
        display: flex !important;
        .myCol {
            display: inline-flex;
            width: 30%;
            justify-content: right;
            .days {
                width: 100%;
                height: 45px;
                line-height: 45px;
                text-align: center;
                color: #637381;
                cursor: pointer;
                border: 1px solid rgba(196, 205, 213, 0.5);
            }
            .activeDay {
                background-color: #e84671 !important;
                color: #fff;
                border: 1px solid #e84671
            }
            select {
                width: 100% !important;
                height: 45px !important; 
                padding-left: 15px;
                text-align: center !important;   
                margin-left: 5% !important;
                color: #637381 !important;
                border: 1px solid rgba(196, 205, 213, 0.5) !important;
            }
        }
        .myCol_ {
            display: inline-flex;
            width: 10%;
            justify-content: center
        }
        .to {
            color: #212B36;
            font-weight: 600;
            padding-top: 16px !important;
        }
    }
    // .leftCol {
    //     padding-top : 0 !important
    // }
    // .ui.grid {
    //     margin-top: 0 !important;
    // }
    // .innerGrid {
    //     margin: 0 !important
    // }
    // .times {
    //     padding: 0 !important;
    //     .column {
    //         padding: 0 !important
    //     }
    //     input {
    //         width: 100% !important;
    //         text-align: center !important;
    //         height: 45px !important;    
    //         margin-top: 4px !important;
    //         color: #637381 !important;
    //         border: 1px solid rgba(196, 205, 213, 0.5) !important;
    //     }
    //     .to {
    //         color: #212B36;
    //         font-weight: 600;
    //         padding-top: 16px !important;
    //     }
    // }
    // .days {
    //     width: 100%;
    //     height: 45px;
    //     line-height: 45px;
    //     text-align: center;
    //     color: #637381;
    //     border: 1px solid rgba(196, 205, 213, 0.5);
    //     margin: 0 0 8px 0
    // }
    @media only screen and (max-width: 767px) {
        .myCol {
            font-size: 14px !important
        }
    }
}