#__next .cartlist {
  margin-top: 50px;
  .ant-table-thead{
    display: none;
  }

  .ant-table-thead > tr > th, .ant-table-tbody > tr > td {
    padding: 40px 16px;
  }

  h4 {
    margin-bottom: 3px;
    min-width: 150px;
  }

  .ant-table-thead > tr.ant-table-row-hover:not(.ant-table-expanded-row) > td,
  .ant-table-tbody > tr.ant-table-row-hover:not(.ant-table-expanded-row) > td,
  .ant-table-thead > tr:hover:not(.ant-table-expanded-row) > td,
  .ant-table-tbody > tr:hover:not(.ant-table-expanded-row) > td {
    background: #eeeeee;
  }


  .time{
    font-size: 15px;
    min-width: 170px;
  }

  .time-container{
    display: flex;
    min-width: 150px;
    align-items: center

  }

  .services {
    font-size: 16px !important;
    td {
      background: transparent !important;
      min-width: 150px;
    }
  }

  .ant-table-tbody > tr.ant-table-row-selected td {
    background: #fbfbfb;
  }

  .actions {
    min-width: 35%;
    display: flex;
    justify-content: space-around;
  }

  .checkout-btn {
    min-width: 35%;
    display: flex;
    justify-content: space-between;

    .total {
      font-size: 17px;
      font-weight: 900;
    }

    .text {
      color: white !important;
      font-weight: 100;
    }
  }

}
