.personalDetails {
    p {
        margin: 0 0 10px 0 !important
    }
    .topText {
        color: #212B36;
        font-weight: 600;
        font-family: freightproblack !important;
    }
    .lowerText {
        color: #637381
    }
    .ui.input {
        width: 100% !important;
        margin-bottom: 10px !important
    }
    // .ui.grid > .row {
    //     padding-top: 0 !important
    // }
}