.testimonials--header {
  font-family: fontfreightproblack !important;
  margin: 34px 0px !important;
  margin-bottom: 40px !important;
  font-size: 32px !important;
}

.testimonials--next {
  position: absolute !important;
  right: 0%;
  top: 36%;
  cursor: pointer;
}

.testimonials {
  margin-bottom: 60px;



  .testimonials--avatar {
    height: 45px !important;
    width: 45px !important;
  }

  .row {
    position: relative !important;
  }

  .item {
    // height: 150px !important;
    background: rgba(232, 70, 113, 0.02) !important;
    // height: 300px !important;
    padding: 20px;
    height: 332px !important;
    // padding: 20px;
    padding: 50px 27px !important;
    // padding: 50px 4 0px !important;
    // width: 351px !important;
    display: flex;
    flex-direction: column;
    justify-content: start;
  }



  .testimonials--testimony {
    // font-family: freightproblack !important;
    font-family: sofiapromedium !important;
    height: 140px !important;
    min-height: 140px;
    max-height: 180px;
    overflow-y: hidden;
    text-overflow: ellipsis;
  }

  .testimonials--fullname {
    margin-bottom: 4px !important;
  }

  .owl-dots {
    margin-top: 30px !important;
  }

  .owl-theme .owl-dots .owl-dot span{
    background: rgba(232, 70, 113, 0.25) !important;
  }

  .owl-theme .owl-dots .owl-dot.active span,
  .owl-theme .owl-dots .owl-dot:hover span {
    background: #E84669 !important;
    height: 12px !important;
    width: 12px !important;
  }
}

@media only screen and (max-width: 767px) {
  .testimonials .item {
    padding: 50px 50px !important;
 }
}

@media only screen and (min-width: 1440px) {
  #__next .testimonials {
    .item {
      margin: 0px 2%;
      height: 400px !important;
      padding: 60px 55px !important;

      .testimonials--testimony {
        line-height: 1.4em;
      }

    }

  }
}