.checkout {
    padding-top: 50px !important;
    .ui.grid {
        margin: 0 !important
    }
    .proceedBtn {
        div {
            height: 25px !important;
            line-height: 25px !important;
            display: inline-flex !important;
            img {
                margin-right: 12px
            }
        }
    }
    .modalContents {
        width: 100%;
        text-align: center !important
    }
    @media (max-width: 767px) {
        // .row
    }
}