
.providerForm {
    margin: 20px 0;
//     padding-top: 60px !important;
    border: 1px solid #eee;
        input, .providerForm select {
                padding-left: 35px !important;
                padding-top: 17px !important;
                height: 52px !important;
                color: #000 !important;
                width: 100% !important
        }
        .dropdown.icon {
                margin: 0.214286em !important
        }
        .ui.dropdown:not(.button) > .default.text, .ui.default.dropdown:not(.button) > .text {
                color: #000 !important
        }
        .date--picker input {
                margin-top: 10px !important;
                // width: 105% !important;
                border: 1px solid #c4cdd5 !important
        }
        .ant-calendar-picker-clear, .ant-calendar-picker-icon {
                left: 10px !important;
                font-size: 20px !important
        }
        .providerCard {
        }
}
        .emptyProviders {
                text-align: center;
                padding: 150px;
                .mainBtn {
                    border-radius: 0px;
                    font-size: 14px;
                    padding: 0 !important;
                    margin: 10px;
                    background-color: #fff;
                    color: #212B36;
                    padding: 12px 30px !important;
                    border: 1px solid #212B36;
                    cursor: pointer;
                }
                .secondaryBtn {
                    border-radius: 0px;
                    font-size: 14px;
                    padding: 12px 30px !important;
                    margin: 10px;
                    background-color: #212B36 !important;
                    color: #fff !important;
                    border: 1px solid #212B36 !important;
                    // padding: 30px !important;
                }
        }

@media only screen and (max-width: 767px) {
        .providerForm {
                margin: 80px 0 60px 0 !important;
                padding: 0 !important;
                border: 0;
                // border-bottom: 1px solid #eee
        }
        .providerCard {
                margin: 0 !important
        }
        .emptyProviders {
                text-align: center;
                padding: 50px;
                h1 {
                        font-size: 14px !important
                }
        }
}
// END OF PROVIDER FORM