#__next .aboutus--introduction {

  // margin: 50px 0px !important;
  margin: 50px auto !important;
  min-height: 500px !important;

  .column {
    font-size: 1.1em !important;
    // fontSize: '16px',
    font-family: sofiapro !important;
  }

  .row {
    min-height: 400px !important;
  }

  img {
    // height: 500px !important;
    height: auto !important;
  }

  p {
    line-height: 22px;
    margin: 2em 0em !important;
  }

  p:first-of-type {
    margin-top: 0px !important;
  }
}

@media only screen and (max-width: 480px) {
  #__next {
  .aboutus--introduction {
      // img {
      //       height:  415px  !important
      // }
    }
  }


}

@media only screen and (max-width: 767px) {
  .ui.container > .ui.stackable.grid > .column,
  .ui.container > .ui.stackable.grid > .row > .column {
    padding-left: 1em !important;
    padding-right: 1em !important;

    img.introduction-img {
      height: auto !important;
    }

  }
}


@media only screen and ( min-width: 768px ) and (max-width: 991px) {
  #__next {
   img.introduction-img {
     height: 520px !important;
   }

  //  .introduction-text {
  //    padding-right: 2% !important;
  //  }

   .aboutus--introduction p {
      line-height: 20px;
      margin: 1em 0em !important;
      font-size: 13px;
   }
  }


 }


@media only screen and (min-width: 1200px) {
 #__next {
  img.introduction-img {
    width: 630px !important;
    height: 720px !important;
    float: right;
  }

  .introduction-text {
    padding-right: 2% !important;
  }

  .aboutus--introduction p {
    line-height: 29px !important;
    margin: 1.5em 0em !important;
    font-size: 18px !important;
  }
 }


}


@media only screen and (min-width: 1440px) {
  #__next {

   .aboutus--introduction p {
     line-height: 35px !important;
     margin: 1.5em 0em !important;
     font-size: 18px !important;
   }
  }


 }