.service {
    padding-top: 25px;
    border-bottom: 1px solid rgba(196, 205, 213, 0.25);
    p {
        margin: 0 0 10px 0 !important
    }
    .serviceTitle {
        font-family: freightproblack !important;
        color: #212B36;
        font-size: 18px;
        font-weight: 600;
    }
    .serviceDesc, .serviceDuration {
        color: #637381
    }
    .serviceCost {
        color: #33b0e6;
        font-size: 15px;
        font-weight: 600;
        height: 100%;
        padding-top: 50px;
    }
    .addService {
        margin-top: 30px;
    }
}
.servicesChildWrap {
    padding: 0 30px !important;
    height: 480px;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto
}
.serviceWrapTitle {
    font-size: 30px;
    padding: 30px !important;
    font-family: freightproblack !important;
    font-weight: 600;
    width: 100%;
    .right {
        float: right;
        .mainBtn {
            margin: 0 !important;
            margin-top: -12px !important
        }
    }
}
.emptyState {
    text-align: center !important;
    padding: 100px 0;
    img {
        margin-bottom: 30px !important
    }
    p {
        font-weight: 500;
        color: #637381
    }
}
@media (max-width: 767px) {
    .service {
        padding-top: 0 !important
    }
    .serviceCost {
        margin: 12px 0 !important
    }
    .addService {
        float: right;
        margin: 0 0 12px 0 !important;
    }
    .serviceCost {
        padding-top: 0 !important
    }
    // .serviceDesc {
    //     text-align: left !important
    // }
    // .serviceDuration {
    //     float: right !important
    // }
    .ui.grid > .row > .column {
        padding: 0 !important
    }
}